.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes full height of the viewport */
}

.register-box {
    background-color: hsl(208, 40%, 29%);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.register-box h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register-box button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: hsl(209, 51%, 49%);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.register-box button:hover {
    background-color: hsl(209, 51%, 20%);
    color: white;
}
